div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
div:focus {
	outline: none;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
	font-family: $font_secondary;
	font-weight: 500;
	line-height: 1.2;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.3;
}
a {
	color: $primary;
	&:hover {
		color: tint($primary,30%);
	}
}
a,button,input {
	transition: all ease-out .3s;
}
body {
	font-family: $font_primary;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.4;
	background-color: #0C0C0C;
	background-image:url("images/body.jpg");
	background-repeat: repeat;
	background-position: top center;
}
.cf:before, .cf:after {
    content: " "; 
    display: table; 
}
.cf:after { clear: both; }
.cf { *zoom: 1; }
.text-center {text-align:center;}

/* Text meant only for screen readers. */
.sr {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #FFF;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}
.wrapper {
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}
.site {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}
.fwleft {
	width: 100%;
	float: left;
}
.btn-default {
	display: inline-block;
	text-decoration: none;
	background: $primary;
	color: #FFF;
	padding: 6px 15px 8px;
	font-size: 15px;
	line-height: 1.2;
	position: relative;
	&:hover {
		background: #000;
	}
}
.arrowShape {
	display: inline-block;
	position: absolute;
	top: 10px;
	right: -7px;
	transition: all ease-out .3s;
	&:before {
		content:"";
		display: block;
		width: 0;
		height: 0;
		border-top: 9px solid #FFF; 
		border-left: 10px solid transparent; 
		transform:  skew(35deg) rotate(180deg);
		position: absolute;
		top: -9px;
	}
	&:after {
		content:"";
		display: block;
		width: 0;
		height: 0;
	    border-top: 10px solid #FFF; 
		border-left: 10px solid transparent; 
		transform: skew(-35deg) rotate(-90deg);
	    position: absolute;
	    top: 0;
	    left: 0;
	}
}

/* Header */
.site-header {
	.wrapper {
		position: relative;
		z-index: 50;
		@include tab {
			@include flexgroup-center();
			padding-top: 25px;
		}
	}
	.logo {
		width: 195px;
		position: absolute;
		left: 15px;
		top: 23px;
		@include tab {
			position: relative;
			width: 30%;
			top: 0;
			left: 0;
		}
		a,img {
			display: inline-block;
		}
		img {
			max-width: 300px;
			width: 100%;
			height: auto;
		}
	}
}
.redVLines {
	width: 38%;
	height: 25px;
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	background-image: linear-gradient(90deg, #c02929 15%, transparent 15%, transparent 50%, #c02929 50%, #c02929 65%, transparent 65%, transparent);
	background-size: 35px 35px;
}
body.home {
	.site-header {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		width: 100%;
	}
}
body.subpage {
	.site-header {
		background-color: #000;
		height: 90px;
		@include tab {
			height: 115px;
		}
	}
}

/* Navigation */
.main-navigation {
	width: 70%;
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	li {
		position: relative;
	}
	ul.menu {
		display: inline-block;
		float: right;
	}
	ul.menu > li {
		float: left;
	}
	ul.menu a {
		display: inline-block;
		text-decoration: none;
		position: relative;
	}
	ul.menu > li > a {
		font-family: $font_secondary;
		font-size: 1.1em;
		line-height: 1.4;
		padding: 3px 10px;
		color: shade(#FFFFFF,40%);
		text-transform: uppercase;
		.arrowUp {
			position: absolute;
			bottom: -20px;
			left: 50%;
			transform: translateX(-50%) scale(0.85);
			transition: all ease-out .3s;
			opacity: 0;
			visibility: hidden;
			&:before {
				content:"";
				display: block;
				width: 0;
				height: 0;
				border-top: 15px solid $primary; 
   				border-left: 15px solid transparent; 
   				transform:  skew(18deg) rotate(207deg);
   				position: absolute;
   				top: -9px;
   				left: -1px;
			}
			&:after {
				content:"";
				display: block;
				width: 0;
				height: 0;
				border-top: 15px solid $primary; 
   				border-left: 15px solid transparent; 
   				transform:  skew(-15deg) rotate(-300deg);
   				position: absolute;
   				top: -9px;
   				left: -13px;
			}
		}
	}
	ul.menu > li.current_page_item > a,
	ul.menu > li:hover > a {
		color: #FFF;
		.arrowUp {
			opacity: 1;
			visibility: visible;
			bottom: -14px;
		}
	}
}
.menu-toggle {
	display: block;
	position: absolute;
    top: 33px;
    right: 2px;
	width: 40px;
	height: 50px;
	background: transparent;
	transform: translateX(-50%);
	-webkit-appearance: none;
	border: none;
	box-shadow: none;
	text-shadow: none;
	border-radius: 0px;
	padding: 0 0;
	margin: 0 0;
	z-index: 30000;
	@include tab {
		display: none;
	}
	span.bar,span.bar:before,span.bar:after {
		display: block;
		width: 100%;
		height: 4px;
		background: #FFF;
		transition: all ease-in-out .3s;
	}
	span.bar {
		position: relative;
	}
	span.bar:before,span.bar:after {
		content:"";
		position: absolute;
		left: 0;
	}
	span.bar:before {
		top: -14px;
	}
	span.bar:after {
		top: 14px;
	}
	&.open {
		span.bar {
			background: transparent;
		}
		span.bar:before {
			transform: translateY(14px) rotate(-45deg);
		}
		span.bar:after {
			transform: translateY(-14px) rotate(45deg);
		}
	}
}
@media screen and (max-width: $tabwidth - 1px) {
	.main-navigation {
		width: 0;
		height: 100%;
		background: rgba(0,0,0,.9);
		position: fixed;
		top: 0;
		right: 0;
		z-index: 3000;
		overflow-x: hidden;
    	overflow-y: auto;
    	opacity: 0;
    	visibility: hidden;
    	transition: all ease-out .3s;
    	.main-nav-container {
    		width: 100%;
    		position: absolute;
    		top: 50%;
    		left: 0;
    		transform: translateY(-50%);
    	}
    	ul.menu {
    		display: block;
    		width: 100%;
    	}
    	ul.menu li {
    		display: block;
    		width: 100%;
    		text-align: center;
    	}
    	ul.menu a {
    		display: block;
    	}
    	ul.menu > li > a {
    		padding: 15px 15px;
    		font-size: 2rem;
    	}
    	ul.menu > li.current_page_item > a,
    	ul.menu > li:hover > a {
			color: #FFF;
			.arrowUp {
				opacity: 1;
				visibility: visible;
				bottom: 0;
			}
		}
	}
	body.openNav {
		.main-navigation {
			width: 100%;
			height: 100%;
			opacity: 1;
			visibility: visible;
		}
	}
}

/* Banner */
.home-banner {
	background-color: #000;
	position: relative;
	padding-top: 90px;
	@include tab {
		padding-top: 0;
	}
	&:after {
		content:"";
		display: block;
		width: 100%;
		height: 30%;
		background: #000;
		position: absolute;
		bottom: -30%;
		left: 0;
	}
	img {
		width: 100%;
		height: auto;
		float: left;
	}
	.banner-caption {
		width: 40%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		@include flexgroup-center();
		.caption {
			font-family: $font_secondary;
			font-size: 4vw;
			font-weight: 600;
			line-height: 1.2;
			color: $secondary;
			text-transform: uppercase;
			margin-top: -30%;
			padding-right: 10%;
			width: 100%;
			@include mid {
				font-size: 3em;
			}
			@media screen and (max-width: $xswidth) {
				// font-size: 2vw;
			}
		}
		span.mid {
			display: inline-block;
			position: relative;
			padding-right: 30px;
			&:before {
				content:"";
				display: block;
				width: 8px;
				height: 90%;
				background: $primary;
				margin-top: 1%;
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
			}
		}
	}
}
.subpage-banner {
	height: 300px;
	position: relative;
	@include xs {
		height: 400px;
	}
	@include tab {
		height: 380px;
	}
	@include mid {
		height: 500px;
	}
	.banner-image {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		background-position: repeat;
		position: relative;
	}
	img.placeholder {
		width: 100%;
		height: auto;
		float: left;
	}
	.banner-overlay {
		width: 100%;
		height: 100px;
		position: absolute;
		left: 0;
		bottom: 0;
		background-image:url("images/topwave.png");
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.titlediv {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 5;
		text-align: right;
		h1 {
			display: inline-block;
			margin: 50px 0 0;
			color: $secondary;
			font-size: 3em;
			font-weight: 600;
			line-height: 1.2;
			text-transform: uppercase;
			padding-right: 30px;
			position: relative;
			@include tab {
				margin: 8% 0 0;
			}
			&:after {
				content:"";
				display: block;
				width: 8px;
				height: 70%;
				background: $primary;
				position: absolute;
				top: 12px;
				right:0;
			}
		}
	}
}


/* Body */
.site-content {
	background: $gray;
	color: $maintext;
}
.flexwrap {
	position: relative;
	@include flexgroup();
}
body.home {
	background-image:url('images/cement.png');
	background-color: #c4c4c4;
}
body.home.site-content {
	position: relative;
	z-index: 100;
}
.homerow1 {
	padding-top: 45%;
	padding-bottom: 20%;
	margin-top: -35%;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	color: #FFF;
	position: relative;
	z-index: 5;
	@include mid {
		padding-top: 0;
		padding-bottom: 0;
		margin-top: -18%;
		min-height: 45em;
		@include flexgroup-center();
		.wrapper {
			padding-top: 10%;
		}
		.flexwrap {
			@include flexgroup-center();
		}
	}
	@media screen and (max-width: 480px) {
		margin-top: -33%;
		padding-top: 46%;
		padding-bottom: 25%;
	}
	.stitle {
		margin: 0 0 15px;
		font-size: 2rem;
		@media screen and (max-width: $xswidth) {
			font-size: 1.6rem;
		}
	}
	.sbutton {
		margin-top: 20px;
		@media screen and (max-width: $xswidth) {
			.btn-default {
				width: 100%;
				text-align: center;
				padding: 9px 20px 11px;
			}
		}
	}
	.textcol {
		width: 100%;
		margin-bottom: 30px;
		@include tab {
			width: 60%;
			padding-right: 10%;
			margin-bottom: 0;
		}
	}
	.imagecol {
		width: 100%;
		@include tab {
			width: 40%;
		}
	}
	.wrapper {
		position: relative;
		z-index: 5;
	}
	.row1bg {
		position: absolute;
		top: 0;
		left: 0;
		img {
			width: 100%;
			height: auto;
			float: left;
		}
	}
}

.playBtn {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
	span {
		display: block;
		width: 60px;
		height: 60px;
		border: 2px solid #FFF;
		background: rgba(255,255,255,.25);
		border-radius: 100%;
		@include flexgroup-center();
		@include flexbox-justify(center);
		transition: all ease-in-out .2s;
		opacity: 0.7;
		position: absolute;
		z-index: 10;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		i {
			display: block;
			width: 26px;
			height: 26px;
			border-left: 2px solid #FFF;
			position: relative;
			left: 5px;
			&:before,
			&:after {
				content:"";
				display: block;
				width: 25px;
				height: 2px;
				background: #FFF;
				position: absolute;
				left: -3px;
			}
			&:before {
				top: 6px;
				transform: rotate(30deg);
			}
			&:after {
				transform: rotate(-30deg);
				bottom: 6px;
			}
		}
	}
	&:hover {
		span {
			opacity: 1;
		}
	}
	&.paused {
		span {
			visibility: hidden;
		}
	}
}
.embed.nothumb .playBtn {display:none!important;}
.video-wrap {
	width: 100%;
	float: left;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #000;
	box-shadow: 0 0 15px 1px rgba(0,0,0,0.3);
	position: relative;
	img {
		width: 100%;
		height: auto;
		float: left;
	}
	.videoThumb {
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
	}
}
.videoContainer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: #000;
	&.hidden {
		visibility: hidden;
	}
	#mp4video {
		width: 100%!important;
		height: 100%!important;
	}
}
.videoIframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	iframe {
		width: 100%!important;
		height: 100%!important;
	}
}
.homerow2.offers {
	padding-top: 6%;
	padding-bottom: 6%;
	position: relative;
	z-index: 10;
	&:before {
		content:"";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: -10%;
		left: 0;
		background-image:url("images/cement2.png");
		background-position: top center;
		background-size: cover;
	}
	.wrapper {
		z-index: 10;
	}
	.flexwrap {
		@include flexgroup();
		@include flexbox-justify(center);
		@include flexbox-align-content(center);
		margin-left: -15px;
		margin-right: -15px;
		@include tab {
			margin-left: -30px;
			margin-right: -30px;
		}
		@include mid {
			margin-left: -40px;
			margin-right: -40px;
		}
	}
	.fcol {
		width: 100%;
		color: $secondary;
		padding: 15px;
		@include tab {
			width: 33.3%;
			padding: 30px 20px;
		}
		@include mid {
			padding: 30px 40px;
			min-height: 25em;
		}
		.inside {
			padding: 15px;
			height: 100%;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			position: relative;
			@include tab {
				padding: 30px 15px;
			}
			&:after {
				content:"";
				display: block;
				width: 100%;
				height: 7px;
				background: $primary;
				position: absolute;
				bottom: 0;
				left: 0;
				opacity: 0;
				visibility: hidden;
				transition: all ease-out .3s;
			}
			a {
				display: block;
				text-decoration: none;
				width: 100%;
				height: 100%;
			}
			&:hover {
				&:after {
					bottom: -13px;
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&.odd .inside {
			background-image:url('images/darkbg1.png');
		}
		&.even .inside {
			background-image:url('images/darkbg2.png');
		}
		&.third .inside {
			background-image:url('images/darkbg3.png');
		}
		a {
			display: block;
			text-decoration: none;
			color: $secondary;
		}
	}
	span.icon,
	span.title {
		display: block;
		width: 100%;
		text-align: center;
	}
	span.icon img {
		max-width: 130px;
		width: 100%;
		height: auto;
	}
	span.title span.smtxt, 
	span.title span.lgtxt {
		display: block;
		width: 100%;
	}
	span.title {
		padding: 0 10%;
		@include tab {
			padding: 0 15%;
		}
	}
	span.title span.smtxt {
		font-size: 16px;
		line-height: 1.2;
		margin-bottom: 3px;
	}
	span.title span.lgtxt {
		font-family: $font_secondary;
		font-size: 1.6em;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 1.1;
	}
}
.rowtitle {
	font-size: 2.1em;
	font-weight: 600;
	line-height: 1.3;
	text-transform: uppercase;
}
.homerow3 {
	position: relative;
	z-index: 11;
	padding-top: 120px;
	padding-bottom: 110px;
	@include tab {
		padding-top: 5%;
		padding-bottom: 5%;
	}
	.wrapper {
		z-index: 11;
		padding-top: 10%;
		padding-bottom: 10%;
	}
	.bg3 {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
	}
	.imagecol {
		width: 100%;
		@include tab {
			width: 30%;
		}
		img {
			width: 100%;
			height: auto;
			float: left;
		}
	}
	.textcol {
		width: 100%;
		background: #000;
		color: #FFF;
		@include flexgroup-center();
		@include tab {
			width: 70%;
		}
		.inner {
			padding: 35px;
		}
	}
	.rowtitle {
		display: inline-block;
		color: $secondary;
		border-bottom: 7px solid $primary;
		margin: 0 0;
	}
	.rowtext {
		margin-top: 30px;
		line-height: 1.5;
		color: $secondary;
		p {
			margin-top: 0;
			margin-bottom: 1.4em;
		}
	}
}
.wrapper-wide {
	max-width: 90%;
	width: 100%;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
}
.homerow4 {
	padding-top: 40px;
	padding-bottom: 40px;
	@include tab {
		padding-top: 5%;
		padding-bottom: 5%;
	}
	.flexwrap {
		@include flexbox-justify(center);
	}
	.rowtitle {
		display: block;
		color: #000;
		margin: 0 0 25px;
		text-align: center;
	}
	.article {
		width: 100%;
		@include tab {
			width: 33.3%;
		}
		@include mid {
			width: 16.66%;
		}
		.inner {
			padding: 15px;
		}
	}
	.featimage {
		width: 100%;
		float: left;
		background-size:cover;
		background-position: center;
		background-repeat: no-repeat;
		border-bottom: 5px solid $primary;
		margin-bottom: 10px;
		a {
			display: block;
			width: 100%;
			float: left;
			text-decoration: none;
		}
		img {
			width: 100%;
			height: auto;
			float: left;
		}
	}
	.excerpt {
		width: 100%;
		float: left;
	}
	.posttitle {
		font-size: 1em;
		font-weight: 600;
		line-height: 1.2;
		margin: 0 0 10px;
		text-transform: uppercase;
	}
	.text {
		font-size: 13px;
		line-height: 1.4;
		margin-bottom: 8px;
	}
	.morediv {
		margin-top: 40px;
		margin-bottom: 40px;
		text-align: center;
	}
}
a.more {
	display: inline-block;
	text-decoration: none;
	color: $primary;
	font-size: 13px;
	position: relative;
	.arrow {
		display: inline-block;
		position: absolute;
		top: 10px;
		right: -7px;
		transform: scale(0.65);
		transition: all ease-out .3s;
		&:before {
			content:"";
			display: block;
			width: 0;
			height: 0;
			border-top: 9px solid $primary; 
				border-left: 10px solid transparent; 
				transform:  skew(35deg) rotate(180deg);
				position: absolute;
				top: -9px;
		}
		&:after {
			content:"";
			display: block;
			width: 0;
			height: 0;
		    border-top: 10px solid $primary; 
				border-left: 10px solid transparent; 
				transform: skew(-25deg) rotate(-80deg);
		    position: absolute;
		    top: -1px;
		    left: 0px;
		}
	}
	&:hover {
		color: shade($primary,30%);
		.arrow {
			right: -11px;
			&:before,&:after {
				border-top-color: shade($primary,30%);
			}
		}
	}
}
.btn-default-arrow {
	display: inline-block;
	text-decoration: none;
	background: $primary;
	color: #FFF;
	padding: 8px 70px 9px 45px;
    position: relative;
    font-size: 20px;
	.arrow {
		display: inline-block;
		position: absolute;
		top: 24px;
		right: 55px;
		transition: all ease-out .3s;
		&:before {
			content:"";
			display: block;
			width: 0;
			height: 0;
			border-top: 9px solid #FFF; 
			border-left: 10px solid transparent; 
			transform:  skew(35deg) rotate(180deg);
			position: absolute;
			top: -9px;
		}
		&:after {
			content:"";
			display: block;
			width: 0;
			height: 0;
		    border-top: 10px solid #FFF; 
				border-left: 10px solid transparent; 
				transform: skew(-25deg) rotate(-80deg);
		    position: absolute;
		    top: -1px;
		    left: 0px;
		}
	}
	&:hover {
		color: #FFF!important;
		background: shade($primary,20%);
		.arrow {
			transform: translateX(7px);
		}
	}
}

.content-area.default {
	color: #000;
	padding-top: 30px;
	.site-main {
		min-height: 30em;
	}
}
/* Single Post */
body.subpage {
	.content-area {
		h1,h2,h3,h4,h5,h6 {
			font-family: $font_heading;
			font-weight: 700;
		}
	}
}
body.subpage .bloglist {
	width: 100%;
	float: left;
	padding-bottom: 80px;
	.blog-inner {
		margin-left: -15px;
		margin-right: -15px;
	}
	.post-entry {
		width: 100%;
		margin-top: 15px;
		margin-bottom: 15px;
		@include tab {
			width: 25%;
		}
		.inner {
			padding: 15px;
		}
	}
	.featimage {
		width: 100%;
		float: left;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-color: #c1c1c1;
		border-bottom: 5px solid $primary;
		margin-bottom: 10px;
		position: relative;
		a {
			display: block;
			float: left;
			width: 100%;
			position: relative;
			z-index: 5;
		}
		img {
			width: 100%;
			height: auto;
			float: left;
		}
		&.nophoto {
			&:before {
				content:"Photo Coming Soon";
				font-size: 13px;
				font-weight: 400;
				display: block;
				width: 100%;
				text-align: center;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				color: #a0a0a0;
			    text-transform: uppercase;
			    letter-spacing: 1px;
			    text-shadow: 0 1px 0px rgba(252, 246, 242, 0.25);
			}
		}
	}
	.textwrap {
		width: 100%;
		float: left;
	}
	.post-title {
		margin: 0 0 8px;
		font-family: $font_secondary;
		font-size: 18px;
		font-weight: 500;
		line-height: 1.2;
		text-transform: uppercase;
	}
	.excerpt {
		margin: 0 0;
		font-size: 13px;
	}
	.buttondiv {
		margin-top: 5px;
	}
}
body.single {
	.site-main {
		padding-bottom: 100px;
	}
	.entry-header {
		margin-bottom: 40px;
	}
}
.entry-header {
	margin-top: 20px;
	margin-bottom: 20px;
	h1 {
		font-size: 2.5em;
		margin-top: 0;
		margin-bottom: 0;
		text-transform: uppercase;
	}
}
.entry-content {
	h1 {
		font-size: 2em;
		margin-top: 1.2em;
    	margin-bottom: 8px;
	}
}

.content-area.singlepost {
	padding-top: 0;
	#main {
		background: #FFF;
		width: 100%;
		float: left;
		padding:0 0 25px;
		margin-bottom: 10px;
		@include tab {
			width: 68%;
		}
	}
	.postheader {
		padding: 20px 25px 25px;
		h1 {
			margin: 0 0;
			font-size: 1.6em;
    		line-height: 1.2;
    		text-transform: uppercase;
		}
	}
	.post-meta {
		font-size: 12px;
		span.by {
			color: #58595b;
		}
		.red {
			color: $primary;
		}
		a {
			display: inline-block;
			text-decoration: none;
			color: $primary;
		}
	}
	.featured-image {
		width: 100%;
		float: left;
		position: relative;
		margin-bottom: 30px;
		img {
			width: 100%;
			height: auto;
			float: left;
		}
		&:after {
			content:"";
			display: block;
			width: 100%;
			height: 5px;
			background: $primary;
			position: absolute;
			bottom: -10px;
			left: 0;
		}
	}
	.post-container {
		width: 100%;
		float: left;
		padding-bottom: 10px;
		p {
			margin-top: 0;
			margin-bottom: 1.5em;
		}
		.inside {
			padding: 0 25px;
		}
		h1 {
			font-size: 1.6em;
			margin-top: 35px;
		}
		h1,h2,h3,h4,h5,h6 {
			font-family: $font_heading;
			color: $primary;
			text-transform: uppercase;
			margin-bottom: .5em;
			margin-top: 1.3em;
		}
	}
}
#sidebar {
	width: 100%;
	float: left;
	padding: 25px 0;
	overflow: hidden;
	@include tab {
		width: 29%;
		float: right;
	}
	.widget {
		width: 100%;
		float: left;
		margin-bottom: 20px;
		&.categoryList {
			margin-bottom: 5px;
		}
		&.searchform {
			margin-bottom: 25px;
		}
	}
	.widget-title {
		margin: 0 0 15px;
		background: #000;
		color: $secondary;
		font-size: 1.5em;
    	font-weight: 600;
    	line-height: 1.2;
    	text-transform: uppercase;
    	padding: 8px 15px 7px;
	}
	.widget.subscription {
		background: $primary;
		color: #FFF;
		padding: 20px;
		.smtxt {
			font-size: 18px;
			line-height: 1.2;
			text-align: center;
			margin-bottom: 5px;
		}
		.lgtxt {
			font-family: $font_heading;
			font-size: 2em;
			font-weight: 700;
			text-transform: uppercase;
			line-height: 1;
			text-align: center;
		}
		form * {
			box-sizing: border-box;
		}
		form {
			display: block;
			width: 100%;
			position: relative;
			text-align: center;
			input[type="text"],
			input[type="email"] {
				width: 100%;
				height: 38px;
				line-height: 38px;
				background: #FFF;
				-webkit-appearance: none;
				border: none;
				border-radius: 0px;
				box-shadow: none;
				color: #000;
				font-size: 18px;
				padding: 5px 10px;
				outline: none;
				text-align: left;
				margin-bottom: 10px;
				margin-top: 15px;
				&:focus {
					box-shadow: 0 0 8px rgba(0,0,0,0.4);
				}
			}
			button {
				display: inline-block;
				position: relative;
				-webkit-appearance: none;
				border: none;
				border-radius: 0px;
				box-shadow: none;
				height: 30px;
				background: $primary;
				color: #FFF;
				font-family: $font_heading;
				font-size: 1.3em;
				font-weight: 600;
				text-transform: uppercase;
				&:after {
					content:"";
					display: block;
					width: 100%;
					border-bottom: 1px solid #FFF;
				}
				.arrowShape {
					transform: scale(0.8);
					top: 16px;
				}
				&:hover {
					opacity: 0.6;
					.arrowShape {
						right: -8px;
					}
				}
			}
		}
	}
}
.sbPostList {
	article {
		width: 100%;
		float: left;
		margin: 0 0;
		position: relative;
		background: $gray2;
		margin-bottom: 15px;
	}
	a.postlink {
		display: block;
		width: 100%;
		float: left;
		text-decoration: none;
		color: $maintext;
		position: relative;
		@include flexgroup();
		&:before {
			cursor: pointer;
			content:"";
			display: block;
			width: 100%;
			height: 100%;
			background: rgba($primary,0.65);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 20;
			transition: all ease-out .3s;
			opacity: 0;
			visibility: hidden;
		}
		&:hover {
			&:before {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.photo {
		display: block;
		width: 30%;
		float: left;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		img {
			width: 100%;
			height: auto;
			float: left;
		}
	}
	.text {
		display: block;
		width: 70%;
		float: left;
		padding: 15px;
	}
	.title {
		display: block;
		margin: 0 0 8px; 
		font-size: 1.1em;
		font-weight: 400;
		line-height: 1.2;
		text-transform: uppercase;
	}
	.excerpt {
		display: block;
		margin: 0 0;
		font-size: 14px;
		line-height: 1.3;
	}
	.morePosts {
		a {
			display: block;
			text-decoration: none;
			cursor: pointer;
			margin: 0 0 0;
			background: #000;
			color: #FFF;
			font-family: $font_heading;
			font-size: 1.5em;
	    	font-weight: 600;
	    	line-height: 1.2;
	    	text-transform: uppercase;
	    	padding: 8px 15px 7px;
	    	position: relative;
	    	text-align: center;
	    	span {
	    		display: inline-block;
	    		position: relative;
	    		left: -10px;
	    		cursor: pointer;
	    	}
	    	.arrowShape {
				transform: rotate(90deg);
				top: 8px;
    			right: -20px;
	    	}
	    	&:hover {
	    		background: $primary;
	    	}
		}
	}
	.noMore {
		text-align: center;
		color: #717171;
		font-size: 13px;
		position: relative;
		top: -4px;
	}
}
.author-info {
	padding: 0 25px;
	.head {
		background: #000;
		color: #FFF;
		font-family: $font_heading;
		font-size: 18px;
		font-weight: 600;
		line-height: 1;
		text-transform: uppercase;
		padding: 6px 10px;
	}
	.description {
		@include flexgroup();
		position: relative;
		background: $gray2;
		.photo {
			width: 100%;
			padding: 15px;
			position: relative;
			@include xs {
				width:20%;
			}
			@include mid {
				width: 15%;
			}
			div.img {
				width: 100%;
				float: left;
				background: #dcdcdc;
				position: relative;
				border-bottom: 5px solid $primary;
			}
			img {
				width: 100%;
				height: auto;
				float: left;
			}
			.nopic {
				position: absolute;
				top: 45%;
				left: 50%;
				transform: translateX(-50%) translateY(-45%);
				font-size: 4vw;
				line-height: 1;
				color:#c5c5c5;
				@include tab {
					font-size: 2vw;
				}
			}
		}
		.text {
			width: 100%;
			font-size: 13px;
			padding: 15px;
			@include xs {
				width: 80%;
				padding-top: 15px;
				padding-bottom: 10px;
				padding-left: 5px;
				padding-right: 10px;
			}
			@include mid {
				width: 85%;
			}
		}
		h3.name {
			margin: 0 0 10px;
			font-size: 18px;
			font-weight: 600;
			line-height: 1;
			text-transform: uppercase;
		}
	}
}

.featuredItems {
	position: relative;
	background-image:url("images/cement.png");
	background-position: center;
	background-color: #bebfbf;
	&:before {
		content:"";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: url("images/bottom-grey-wave.png");
		background-position: top center;
		background-repeat: repeat-x;
	}
	.wrapper {
		position: relative;
		z-index: 10;
		padding-top: 130px;
		padding-bottom: 110px;
		@include tab {
			padding-top: 150px;
			padding-bottom: 90px;
		}
		@include desk {
			padding-top: 160px;
			padding-bottom: 100px;
		}
	}
	.flexwrap {
		@include flexgroup();
		@include flexbox-justify(center);
		@include flexbox-align-content(center);
		margin-left: -15px;
		margin-right: -15px;
		@include tab {
			margin-left: -30px;
			margin-right: -30px;
		}
		@include mid {
			margin-left: -40px;
			margin-right: -40px;
		}
	}
	.fcol {
		width: 100%;
		color: $secondary;
		padding: 15px;
		@include tab {
			width: 33.3%;
			padding: 30px 20px;
		}
		@include mid {
			padding: 30px 40px;
			min-height: 25em;
		}
		.inside {
			padding: 15px;
			height: 100%;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			position: relative;
			@include tab {
				padding: 30px 15px;
			}
			&:after {
				content:"";
				display: block;
				width: 100%;
				height: 7px;
				background: $primary;
				position: absolute;
				bottom: 0;
				left: 0;
				opacity: 0;
				visibility: hidden;
				transition: all ease-out .3s;
			}
			a {
				display: block;
				text-decoration: none;
				width: 100%;
				height: 100%;
			}
			&:hover {
				&:after {
					bottom: -13px;
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&.odd .inside {
			background-image:url('images/darkbg1.png');
		}
		&.even .inside {
			background-image:url('images/darkbg2.png');
		}
		&.third .inside {
			background-image:url('images/darkbg3.png');
		}
		a {
			display: block;
			text-decoration: none;
			color: $secondary;
		}
	}
	span.icon,
	span.title {
		display: block;
		width: 100%;
		text-align: center;
	}
	span.icon img {
		max-width: 130px;
		width: 100%;
		height: auto;
	}
	span.title span.smtxt, 
	span.title span.lgtxt {
		display: block;
		width: 100%;
	}
	span.title {
		padding: 0 10%;
		@include tab {
			padding: 0 15%;
		}
	}
	span.title span.smtxt {
		font-size: 16px;
		line-height: 1.2;
		margin-bottom: 3px;
	}
	span.title span.lgtxt {
		font-family: $font_secondary;
		font-size: 1.6em;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 1.1;
	}
}
/* Pagination */
.pagination {
	margin-top: 35px;
	margin-bottom: 20px;
	a,span {
		display: inline-block;
		padding: 6px 10px;
		font-size: 15px;
		line-height: 1;
	}
	span {
		background: #000;
		color: #FFF;
	}
	a {
		text-decoration: none;
		background: $primary;
		color: #FFF;
		&:hover {
			background: shade($primary,30%);
		}
	}
}
/* Search Form */
.searchform {
	position: relative;
	.srchIcon {
		position: absolute;
		top: 6px;
		left: 10px;
		z-index: 5;
		color: #868585;
		font-size: 16px;
	}
	form * {
		box-sizing: border-box;
	}
	form, label {
		display: block;
		width: 100%;
		float: left;
		position: relative;
		margin: 0 0;
	}
	label {
		&:before {
			content:"";
			display: block;
			width: 58px;
			height: 100%;
			background: $primary;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	form:before,
	form:after {
		content:"";
		display: block;
		width: 0;
		height: 0;
		z-index: 10;
	}
	form {
		border-radius: 50px;
		overflow: hidden;
		&:before {
			border-top: 9px solid #cbcbcb; 
			border-left: 10px solid transparent; 
			transform:  skew(32deg) rotate(180deg);
			position: absolute;
			top: 9px;
			right: 22px;
		}
		&:after {
		    border-top: 10px solid #cbcbcb; 
			border-left: 10px solid transparent; 
			transform: skew(-25deg) rotate(-80deg);
		    position: absolute;
			top: 17px;
			right: 22px;
		}
	}
	.screen-reader-text {
		display: none;
	}
	.search-field {
		width: 100%;
		border: 1px solid #b8b8b8;
		background: $gray2;
		-webkit-appearance: none;
		border-radius: 0px;
		box-shadow: none;
		height: 35px;
		line-height: 35px;
		outline: none;
		color: #000;
		font-size: 18px;
		font-weight: 400;
		padding: 3px 65px 3px 32px;
		border-radius: 50px;
		&:focus {
			border: 1px solid $primary;
		}
	}
	.search-submit {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 20;
		-webkit-appearance: none;
		border-radius: 0px;
		box-shadow: none;
		border: none;
		width: 60px;
		height: 100%;
		margin: 0 0;
		background: transparent;
		color: transparent;
	}
}
.searchFormWrap {
	max-width: 620px;
	width: 100%;
	.searchform {
		.search-field {
			background: #FFF;
			height: 45px;
			line-height: 45px;
			border-width: 2px;
		}
		form:before {
			top: 13px;
		}
		form:after {
			top: 21px;
		}
		.srchIcon {
			top: 11px;
		}
		label:before {
			width: 55px;
			height: 41px;
			top: 2px;
			right: 2px;
			border-radius: 0 50px 50px 0;
		}
	}
}

.searchPage {
	.site-main {
		margin-bottom: 100px;
	}
	.mainHeader {
		margin-bottom: 50px;
	}
	.entry-header h1 span {
		color: $primary;
		font-style: italic;
	}
	.post-edit-link {
		display: inline-block;
		margin-left: 15px;
	}
	.posts-navigation {
		margin-top: 40px;
		h2 {
			margin: 0 0 10px;
			font-size: 18px;
			color: #5f5f5f;
		}
	}
	.entry-title a {
		text-transform: uppercase;
	}
	.post-item {
		margin-bottom: 20px;
		padding-bottom: 30px;
		border-bottom: 1px dotted #8c8c8c;
	}
}
/* Sitemap */
.sitemapMenu {
	text-align: center;
	max-width: 100%;
	width: 100%;
	float: left;
	margin: 50px auto 0;
	padding-bottom: 60px;
	.sitemapnav {
		max-width: 500px;
		width: 100%;
		text-align: left;
		float: left;
	}
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		li {
			position: relative;
		}
	}
	ul > li {
		padding-left: 12px;
		margin-bottom: 2px;
		> a:before {
			content:"";
			display: block;
			width: 5px;
			height: 5px;
			background: $primary;
			position: absolute;
			top: 7px;
			left: 0;
			transition: all ease-out .3s;
		}
		ul {
			padding-left: 10px;
		}
		ul li {
			padding-left: 10px;
			> a:before {
				background: transparent;
				border: 1px solid $primary;
				border-radius: 100%;
				width: 3px;
				height: 3px;
				top: 8px;
				transition: all ease-out .3s;
			}
		}
		ul li:hover > a:before {
			border-color: $primary;
			background: transparent;
		}
	}
	ul.menu > li > a:hover:before {
		background: tint($primary,40%);
	}
	ul.menu {		
		@include tab {
			column-count: 2;
		}
		ul a {
			padding: 0 0 0 2px;
		}
	}
	ul.menu > li {
		max-width: 200px;
		width: 100%;
		// @include tab {
		// 	margin-left: 25%;
		// 	width: 230px;

		// }
	}
	a {
		color: $primary;
		text-decoration: none;
		display: inline-block;
		&:hover {
			color: tint($primary,40%);
		}
	}
}

/* Footer */
.site-footer {
	background-image:url("images/footerBg.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; 
	background-color: #000;
	width: 100%;
	float: left;
	position: relative;
	&:before {
		content:"";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: -30%;
		left: 0;
		background-image:url("images/footerBg.png");
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat; 
	}
	.flexwrap {
		@include flexgroup-center();
	}
	.wrapper {
		padding-top: 35px;
		padding-bottom: 40px;
		z-index: 10;
	}
	.footcol {
		width: 100%;
		text-align: center;
		@include tab {
			width: 33.3%;
		}
	}
	.footlogo {
		text-align: left;
	}
	img.foot-logo {
		max-width: 180px;
		width: 100%;
		height: auto;
	}
	a {
		display: inline-block;
		text-decoration: none;
		color: #FFF;
	}
}
.footerMenu {
	ul {
		margin: 0 0;
		padding: 0 0;
	}
	ul.menu ul {
		display: none;
	}
	ul.menu {
		display: inline-block;
	}
	ul.menu li {
		display: inline-block;
		float: left;
	}
	a {
		display: block;
		text-decoration: none;
		font-family: $font_secondary;
		font-weight: 500;
		font-size: 14px;
		line-height: 1.3;
		text-transform: uppercase;
		color: $secondary;
		padding: 5px 15px;
		position: relative;
		&:hover {
			color: #FFF;
		}
		&:before {
			content:"";
			display: block;
			width: 2px;
			height: 16px;
			background: $primary;
			position: absolute;
			top: 6px;
			left: 0;
		}
	}
	ul.menu > li:first-child > a {
		&:before {
			display: none;
		}
	}
}
.socialMedia {
	text-align: right;
	a {
		display: inline-block;
		font-size: 20px;
		color: $secondary;
		margin: 2px;
		&:hover {
			color: #FFF;
		}
	}
	a.youtube {
		color: #ff0000;
		&:hover {
			color: #FFF;
		}
	}
}
